[submodule "tools/mtkheader"]
	path = tools/mtkheader
	url = https://github.com/unknown321/mtkheader
[submodule "tools/cpiostrip"]
	path = tools/cpiostrip
	url = https://github.com/unknown321/cpiostrip
